.status-indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
/*.visited .vignette {
    filter: grayscale(1);
    opacity: .5;
}
.visited:hover .vignette {
    filter: grayscale(0);
    opacity: 1;
}*/
